pandas==2.2.2
numpy==2.0.0

# Machine Learning
scikit-learn==1.7.1
mlxtend==0.23.4

# BigQuery
google-cloud-bigquery==3.35.1
google-cloud-bigquery-storage==2.33.1
db-dtypes==1.4.3
pyarrow==17.0.0

# Google Cloud Storage
google-cloud-storage==3.3.1

# Vertex AI Pipelines
kfp==2.16.1

# Gemini
google-auth==2.40.3
google-genai==1.31.0

# Excel support
openpyxl==3.1.5

# HTTP
requests==2.32.5